entrypoint = "main.py"
modules = ["python-3.11", "nodejs-20"]

[nix]
channel = "stable-25_05"
packages = ["cargo", "freetype", "glibcLocales", "gumbo", "harfbuzz", "jbig2dec", "lcms2", "libGL", "libiconv", "libimagequant", "libjpeg", "libjpeg_turbo", "libreoffice", "libtiff", "libwebp", "libxcrypt", "mesa", "mupdf", "openjpeg", "rustc", "swig", "tcl", "tk", "xcbuild", "xorg.libX11", "xorg.libXcursor", "xorg.libXi", "xorg.libXinerama", "xorg.libXrandr", "zlib"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[agent]
expertMode = true
integrations = ["github:1.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Internal File Viewer"

[[workflows.workflow]]
name = "Internal File Viewer"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[workflows.workflow.metadata]
outputType = "console"
